

.tbl-label{
  margin-left: 47px;
  width: 125px;
  border-radius: 8px;
  height: 30px;
  text-align: center;
  color:beige;
  background-color: brown;
}

.tbl1-label{
  margin-left: 70px;
  width: 125px;
  border-radius: 8px;
  height: 30px;
  text-align: center;
  color:beige;
  background-color: brown;
}

.tbl2-label{
  margin-left: 70px;
  width: 125px;
  border-radius: 8px;
  height: 30px;
  text-align: center;
  color:beige;
  background-color: brown;
}

.tbl-data{
  margin-left: 30px;
  width: 100px;
  height: 30px;
  text-emphasis: bold;
  color: brown;
  background-color: tan;
  text-emphasis: bold
}
.tbl-btn{
  margin-left: 5px;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  text-emphasis: bold;
  color: tan;
  background-color: red;
  text-emphasis: bold
}

.chkbx{
  margin-left: 170px;
  width: 30px;
  height: 30px;
  border-radius: 8px;
}
.project-button{
  margin-left: 98px;
  border-radius: 8px;
  height: 50;
  width: 100;
  text-align: center;
  color: beige;
  background-color: brown;
}
.misc-lbl{
  margin-left: 138px;
  text-align: center;
  border-radius: 8px;
  height: 50px;
  width: 100px;
  color: beige;
  background-color: brown;
}
